{% extends 'ProjectHelloMainBundle::layout_main.html.twig' %}

{% block content %}

    <div class="homepage-header">
        <img src="/bundles/projecthellomain/img/logo.png" alt="" />
        <h1 class="homepage-header">project-hello</h1>
        <p>Sorry but...</p>
        <p>{{ exception.message }}</p>
    </div>
    
{% endblock %}
