{% extends 'ProjectHelloMainBundle::layout_main.html.twig' %}

{% block content %}

    {% if app.session.hasFlash('card-notice') %}
	    <div class="flash-notice alert alert-success">
	        {{ app.session.flash('card-notice') }}
	    </div>
	{% endif %}
	
    <div class="page-header clearfix">
        <div class="welcome pull-left">
            <h1>Welcome!</h1>
            <p>Are you ready to create your card?</p>
        </div>

        <a class="btn btn-large btn-primary pull-right" href="{{ path('create_card') }}">Create a card</a>
    </div>
    
    <div class="row">
        <ul class="thumbnails">
            {% for card in cards %}
                <li class="span2">
                    <div href="#" class="thumbnail">
                        <img src="http://th03.deviantart.net/fs71/150/f/2012/194/0/d/mmd_model_rq__ultra_chibi_mordecai_by_xan_seyro-d574kyk.png" alt="" />
                        <div class="actions">
                            <a class="btn btn-mini" href="">Edit Card</a>
                            <a class="btn btn-mini" href="{{ path('guest_view_card', {'token':card.guestToken}) }}">View Card</a>
                        </div>
                    </div>
                </li>
            {% endfor %}            
        </ul>
    </div>
    
{% endblock %}
