{% extends 'ProjectHelloMainBundle::layout_main.html.twig' %}

{% block content %}

    <h1>Welcome. Are you ready to create your card?</h1>
    <a href="{{ path('create_card') }}">Create a card</a>

{% endblock %}
