{% extends 'ProjectHelloMainBundle::layout_main.html.twig' %}

{% block content %}

    {% if app.session.hasFlash('card-notice') %}
	    <div class="flash-notice alert alert-success">
	        {{ app.session.flash('card-notice') }}
	    </div>
	{% endif %}
	
    <div class="page-header clearfix">
        <div class="welcome pull-left">
            <h1>Welcome!</h1>
            <p>Are you ready to create your card?</p>
        </div>

        <a class="btn btn-large btn-primary pull-right" href="{{ path('create_card') }}">Create a card</a>
    </div>
    
    <div class="row">
        <ul class="thumbnails">
            <li class="span2">
                <div href="#" class="thumbnail">
                    <img src="http://placehold.it/160x120" alt="" />
                    <div class="actions">
                        <a class="btn btn-mini" href="">Edit Card</a>
                        <a class="btn btn-mini" href="">View Card</a>
                    </div>
                </div>
            </li>
            <li class="span2">
                <div href="#" class="thumbnail">
                    <img src="http://placehold.it/160x120" alt="" />
                    <div class="actions">
                        <a class="btn btn-mini" href="">Edit Card</a>
                        <a class="btn btn-mini" href="">View Card</a>
                    </div>
                </div>
            </li>
            <li class="span2">
                <div href="#" class="thumbnail">
                    <img src="http://placehold.it/160x120" alt="" />
                    <div class="actions">
                        <a class="btn btn-mini" href="">Edit Card</a>
                        <a class="btn btn-mini" href="">View Card</a>
                    </div>
                </div>
            </li>
            
        </ul>
        
    </div>
    
{% endblock %}
