{% extends 'ProjectHelloMainBundle::layout_main.html.twig' %}

{% block content %}

    <h1>Hi Clyde, Welcome. Are you ready to create your card?</h1>
    <a href="">Create a card</a>

{% endblock %}
