{% extends 'ProjectHelloMainBundle::layout_main.html.twig' %}

{% block content %}

    {% if app.session.hasFlash('card-notice') %}
	    <div class="flash-notice">
	        {{ app.session.flash('card-notice') }}
	    </div>
	{% endif %}
	
    <div class="page-header clearfix">
        <div class="welcome pull-left">
            <h1>Welcome!</h1>
            <p>Are you ready to create your card?</p>
        </div>

        <a class="btn btn-large btn-primary pull-right" href="{{ path('create_card') }}">Create a card</a>
    </div>

{% endblock %}
