{% extends 'ProjectHelloMainBundle::layout_main.html.twig' %}

{% block scripts %} 
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "26ea0a55-92dd-4316-ac8f-0fb7d18f055c"}); </script>
{% endblock %}

{% if recipient_name is not defined %}
    {% set recipient_name = 'Mon Abilar' %}
{% endif %}

{% block body %}<body class="view-card">{% endblock %}

{% block intro %}
    <div class="intro">
        <h1>{{ recipient_name }}</h1>
        <p>
            your friends sent you <br />
            some greetings & messages
        </p>
    </div>
{% endblock %}

{% block content %}

    <div class="sharethis_wrapper">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_tumblr_large' displayText='Tumblr'></span>
    </div>

    <div id="slides">
        <div class="slides_container">
            {% block messages %}
                {% set authors = [ 'Neri Celeste', 'Clyde Alegro', 'Mercy Honor' ] %}

                {% for author in authors %}
                    {% include 'ProjectHelloMainBundle:Fragments:message.html.twig' with {
                        'author'  : author,
                        'message' : "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"
                    } %}
                {% endfor %}
            {% endblock %}
        </div>
        
    </div>
    
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@ProjectHelloMainBundle/Resources/public/js/slides.min.jquery.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function(){
            $("#slides").slides({
                generateNextPrev: true,
                generatePagination: false
            });
        });
        
               
        
    </script>
{% endblock %}