{% extends 'ProjectHelloMainBundle::layout_main.html.twig' %}

{% block content %}
    <div id="slides">
        <div class="slides_container">
            <div>
                <h2>Neri Celeste</h2>
                <blockquote>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </blockquote>
            </div>
            <div>
                <h2>Clyde Alegro</h2>
                <blockquote>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </blockquote>
            </div>
            <div>
                <h2>Mercy Honor</h2>
                <blockquote>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </blockquote>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@ProjectHelloMainBundle/Resources/public/js/slides.min.jquery.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function(){
            $("#slides").slides();
        });
    </script>
{% endblock %}