{% import "ProjectHelloMainBundle:Fragments:form_macros_new.html.twig" as forms %}

<div class="collaborator clearfix">
    {% set collaborator = item %}

    {{ forms.fieldRow(collaborator.name, 'Collaborator Name') }}

    {{ forms.fieldRow(collaborator.email, 'Collaborator Email') }}

    {{ form_rest(collaborator) }}
    
    <span class="remove-collaborator-btn btn btn-mini btn-danger pull-right">Remove</span>
</div>