{% import "ProjectHelloMainBundle:Fragments:form_macros.html.twig" as forms %}

<div class="collaborator">
    {{ forms.input_text('collaborator-name', '', 'Collaborator Name') }}

    {{ forms.input_text('collaborator-email', '', 'Collaborator Email') }}
</div>