{% extends 'form_div_layout.html.twig' %}

{% block field_widget %}
	{% spaceless %}
	    {% set type = type|default('text') %}
	    {% set attr = attr|merge({'class': attr.class|default('') ~ ' focused input-xlarge' }) %}
	    {{ parent() }}
	{% endspaceless %}
{% endblock field_widget %}

{% block date_widget %}
	{% spaceless %}
		{% set attr = attr|merge({'class': attr.class|default('') ~ ' span2' }) %}
		<div class="input-append date" id="dp3" data-date="{{ form.vars.value }}" data-date-format="mm-dd-yyyy">
		    {{ parent() }}
		    <span class="add-on"><i class="icon-th"></i></span>
	    </div>
	{% endspaceless %}
{% endblock date_widget %}